*
{
    margin: 0;
    padding: 0;
    background-color: white;
}
/*color style: aquamarine, #2776f5, #f5d327,#474538*/
#containerLeft
{
    width: 70%;
    min-height: 40vh;
    background-color: green;
    float: left;
}
#TopBar h1
{
    width: 93VW;
    height: 10vh;
    font-size: 30pt;
    float: left;
    background-color: red;
}
#TopBar div
{
    height: 10vh;
    width: 7vw;
    float: right;
    background-color: purple;
}
#containerRight
{
    width: 30%;
    height: 40vh;
    float: right;
    background-color: #2776f5;
}
